body,
div,
h1,
h2,
h3,
h4,
h5,

p {
  margin: 0;
  padding: 0;
}

/* fonts */
@font-face {
  font-family: 'Starjedi';
  src: url('/fonts/starjedi/Starjedi.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('/fonts/starjedi/Starjedi.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

@font-face {
  font-family: 'StarJediHollow';
  src: url('/fonts/starjedi/StarJediHollow.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('/fonts/starjedi/StarJediHollow.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}


:root {
  font-family: kanit-regular, sans-serif;
  --dark1: yellow;
  --light1: rgb(27, 26, 25);
  --dark2: rgb(255, 174, 0);
  --light2: black;
  background-image: url("https://i.pinimg.com/originals/37/45/c3/3745c3e50e0e529a2b4e0c78637e1ce3.jpg");
  color: var(--dark1);
  pointer-events: auto;
}

/* headers */
h1 {
  font-family: StarJediHollow, sans-serif;
  font-size: 500%;  
  text-align: center;  
}

h2 {
  font-family: Starjedi, sans-serif;
  font-size: 150%; 
}

/* search function */
input#searchstring {
}

input {
  display: block;
  width: 95%;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.5em;
  border: 2px solid var(--dark2);
  outline: none;
  margin: 5px;
  background-color: black;
  color: goldenrod;
}

button {
  background-color: var(--light2);
  color: var(--dark2);
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--dark2);
}

input {
  display: block;
  width: 95%;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.5em;
  border: none;
  border-bottom: 2px solid var(--dark2);
  outline: none;
  margin: 5px;
}

label {
  font-weight: bold;
  font-size: 1.1em;
}

.small {
  font-size: small;
  font-weight: normal;
}

/* Characters */
#charactersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

#charactersList div {
  padding: 10px;
  margin: 10px;
  border: 1px solid var(--dark2);
  border-radius: 5px;
  color: var(--dark2);
  background-color: var(--light2);
  font-weight: bold;
}

/* Character page */
h1#name {
  margin: 50px;
}

#generalInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 20px;
}

#generalInfo p {
  padding: 20px;
  margin: 10px;
  color: var(--dark2);
  background-color: var(--light2);
}

#generalInfo span {
  font-weight: bold;
  font-size: 1.1em;
}
#character {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 20px;
}

#character ul {
  padding: 20px;
  margin: 10px;
  color: var(--dark2);
  background-color: var(--light2);
  margin-left: -1210px;
  margin-top: 25px;
}


section#planets,
section#characters,
section#films {
  margin: 50px;
}

section#planets ul,
section#characters ul,
section#films ul {
  list-style-type: none;
  padding: 0;
}

section#planets a,
section#characters a,
section#films a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.1em;

  background-color: var(--light2);
  color: var(--dark2);
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid var(--dark2);
}

/* scroll css */
.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.crawl {
  position: relative;
  top: 99999px;
  transform-origin: 50% 100%;
  animation: crawl 60s linear;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
  0% {
    top: -100px;
    transform: rotateX(20deg)  translateZ(0);
  }
  100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}